<!DOCTYPE html>
<html>
    <head>
        <title>Fein Violins Chatbot</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div id="banner"></div>
        <div class="container text-center" style="margin-top: 32px;">
            <!-- Titles -->
            <!-- Image (Placeholder for the banner or other content) -->
            <img src="/static/Feinlogo.png" alt="Violin Banner" class="img-fluid" style="margin-top: 16px;">

            <h1 style="font-size: 24px; color: black;">Ask a Question about Fein Violins or the Preferences of Violin Customers</h1>
            <h3 style="font-size: 16px; color: black;">Example: Which violin does someone who plays every day prefer? Which violin does an 18-year-old male prefer?</h3>


            <!-- Input Form -->
            <div class="row" style="margin-top: 32px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-center">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" id="question" class="form-control" placeholder="Ask me a question about Fein Violins or String Music" name="query">
                            <div class="input-group-append">
                                <button type="submit" id="answer-button" class="btn btn-primary">
                                    <i class="fa fa-question"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-left" id="answer"></p>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </body>
</html>

